@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

/* Header CSS */
.material-symbols-outlined{
    color: rgb(96, 96, 96);
    /* font-size: 1.4em; */
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 80px;
    align-items: center;
}

.header_left{
    display: flex;
    align-items: center;
}

.header_left img{
    width: 50px;
    margin-left: 10px;
}

.header_left i{
    cursor: pointer;
    padding: 0 10px;
}

.header_search form{
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.header_search form input{
    border: none;
    width: 500px;
    height: 100%;
    padding: 10px;
}

.header_search button{
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
}

.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    height: 100%;
    width: 200px;
    background-color: white;
    /* overflow-y: scroll; */
}

.sidebar_categories{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar_category{
    display: flex;
    align-items: center;
    padding: 15px 25px;
}

.sidebar_category span{
    margin-left: 15px;
    color: rgb(96, 96, 96);

}

.sidebar_category:hover{
    background-color: rgba(96, 96, 96, 0.2);
    cursor: pointer;
}

hr{
    height: 1px;
    border: none;
    background-color: #e5e5e5;
}

.videos{
    background-color: #F9F9F9;
    height: 100%;
    width: 100%;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}

.videos_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 10px;
}

.video{
    width: 350px;
    margin-bottom: 30px;
}

.thumbnail{
    width: 100%;
    height: 170px;
}

.thumbnail iframe{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.video_details{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.author img{
    object-fit: cover;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.title{
    display: flex;
    flex-direction: column;
}

.title a, span{
    text-decoration: none;
    font-size: 15px;
    color: rgb(96, 96, 96);
}